<div class="p-4">
  <!-- Categories Navbar -->
  <div class="p-2 rounded-lg shadow-md mb-4">
    <div class="relative flex overflow-x-auto whitespace-nowrap">
      <div 
        *ngFor="let category of categories" 
        
        (click)="selectCategory(category)"
        class="inline-block px-4 py-2 mx-2 cursor-pointer transition-colors relative">
        <p class="text-lg font-semibold text-gray-700">{{ category }}</p>
        <div 
          *ngIf="selectedCategory === category" 
          class="absolute bottom-0 left-0 w-full border-b-2 border-blue-500"></div>
      </div>
    </div>
  </div>

  <!-- Courses Grid -->
  <div  class="list-courses grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <ng-container *ngFor="let course of filteredCourses">
    <div *ngIf="course.approvalStatus==='APPROVED'"  class="bg-white shadow-lg rounded-lg overflow-hidden">
     
      <app-course-card [course]="course" [token]="token"></app-course-card>
    </div>
  </ng-container>
  </div>
</div>
