<div class="homeContainer flex h-96 w-[100%] border-2 m-0 border-black">
    <div class="firstImage flex items-center w-1/2  ">
       <div class="ml-5  h-32 p-3   w-[72%] bg-white shadow-sm">
            <h1 class="text-[30px]">
                24-Hour Flash Sale
            </h1>
            <p>Courses as low as $13.99 for one day only. Grab your favorite.</p>
       </div>
    </div>
    <div class="secondImage flex items-center w-1/2 ">
       
    </div>
</div>
<div class="p-5  border-2">
    <h1 class="text-[30px] mb-3">All the skills you need in one place
        </h1>
    <p class="mb-2">From critical skills to technical topics, Udemy supports your professional development.</p>
</div>
